/*세라*/
 .pin_1 {
     position: absolute;
     left: 77%;
     top: 48%;
 }

/*수진*/
 .pin_2 {
     position: absolute;
     left: 47%;
     top: 75%;
 }

/*보민*/
 .pin_3 {
     position: absolute;
     left: 22.5%;
     top: 30%;
 }

/*지호*/
 .pin_4 {
     position: absolute;
     left: 70%;
     top: 10%;
 }

/*채원*/
 .pin_5 {
     position: absolute;
     left: 12%;
     top: 53%;
 }

/*형목*/
 .pin_6 {
     position: absolute;
     left: 21%;
     top: 48%;
 }

/*혜령*/
 .pin_7 {
     position: absolute;
     left: 52%;
     top: 16%;
 }

/*성은*/
 .pin_8 {
     position: absolute;
     left: 78%;
     top: 78%;
 }

/*지원*/
 .pin_9 {
     position: absolute;
     left: 64%;
     top: 41%;
 }

/*라니*/
 .pin_10 {
     position: absolute;
     left: 12.5%;
     top: 41%;
 }

/*남주*/
 .pin_11 {
     position: absolute;
     left: 11%;
     top: 47%;
 }

/*환준*/
 .pin_12 {
     position: absolute;
     left: 41%;
     top: 39%;
 }

/*서진*/
 .pin_13 {
     position: absolute;
     left: 60%;
     top: 86%;
 }

/*작정*/
 .pin_14 {
     position: absolute;
     left: 30%;
     top: 52%;
 }

/*큰정*/
 .pin_15 {
     position: absolute;
     left: 58%;
     top: 38%;
 }

/*정효*/
 .pin_16 {
     position: absolute;
     left: 61%;
     top: 31%;
 }

/*혜연*/
 .pin_17 {
     position: absolute;
     left: 42%;
     top: 25%;
 }

/*세연*/
 .pin_18 {
     position: absolute;
     left: 72%;
     top: 28%;
 }

/*소현*/
 .pin_19 {
     position: absolute;
     left: 48%;
     top: 55%;
 }

/*보경*/
 .pin_20 {
     position: absolute;
     left: 45%;
     top: 50%;
 }

/*예나*/
 .pin_21 {
     position: absolute;
     left: 77%;
     top: 33%;
 }

/*우근*/
 .pin_22 {
     position: absolute;
     left: 44%;
     top: 62%;
 }

/*은수*/
 .pin_23 {
     position: absolute;
     left: 31%;
     top: 63%;
 }

/*학영*/
 .pin_24 {
     position: absolute;
     left: 75%;
     top: 41%;
 }

/*경빈*/
 .pin_25 {
     position: absolute;
     left: 18%;
     top: 70%;
 }

/*예찬*/
 .pin_26 {
     position: absolute;
     left: 32%;
     top: 18%;
 }
